*{
    margin: 0;
    padding: 0;

}
.row{
    display: flex;
    margin-top: 20px;
}
.roww{
    display: flex;

    margin-top: 20px;
}
.o{
    background-color: rgb(75, 65, 75);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
     margin-left:30px;
}
.p{
    text-align:  center;
    width: 80%;
    margin: 0 auto;
}
.bu button{
    position: relative;
    top: 10px;
    left: 50px;
    padding: 5px;
    padding-left:20px;
    padding-right:20px;
    background-color: transparent;
}